/* Basic styling for the footer */
#footer-placeholder {
    background-color: rgba(0, 0, 0, 0.9); /* Darker background for footer */
    color: #00ff00;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #00ff00; /* Green separator */
    margin-top: 15px;
    bottom: 0;
    width: 100%;
    z-index: 10;

    /* Add background image */
    background-image: url('/assets/images/general/green_background.jpg');
    background-repeat: repeat; /* Or no-repeat, space, round */
    background-size: auto;    /* Or cover, contain, pixel/percentage values */
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #FFBF00; /* Amber color for links */
    text-decoration: none;
}

.footer-content a:hover {
    color: #FFD700; /* Brighter amber on hover */
    text-decoration: underline;
}