/* Styles specific to index.html */
.main-content h1,
.main-content h2,
.main-content h3 {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}

.main-content p,
.sidebar-content p,
.footer-content p {
    color: #00cc00;
}

/* Example style for the main content box */
.main-content .box {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px dashed #00cc00;
    padding: 10px;
    margin-bottom: 10px;
}

.main-content .centered-image {
    display: block;
    margin: 10px auto;
    max-width: 100%; /* Ensure images are responsive within their container */
    height: auto;
    border: 1px solid #00cc00;
    box-shadow: 0 0 5px #00cc00;
}