<!-- This the the man nav menu. Edit names and links as needed.  -->
<nav>
    <a href="/index.html"><img src="/assets/images/navigation/home.png" alt="Home"></a>
    <a href="/pages/about.html"><img src="/assets/images/navigation/about.png" alt="About"></a>
    <a href="/pages/news.html"><img src="/assets/images/navigation/news.png" alt="News"></a>
    <a href="/pages/links.html"><img src="/assets/images/navigation/links.png" alt="Links"></a>
    <a href="/pages/ezine.html"><img src="/assets/images/navigation/ezine.png" alt="E-Zine"></a>
    <a href="/pages/music.html"><img src="/assets/images/navigation/music.png" alt="Music"></a>
    <a href="/pages/tarot.html"><img src="/assets/images/navigation/tarot.jpg" alt="Tarot"></a>
</nav>