<!-- The content for the right sidebar goes here. Add as many sidebar-box as needed -->
<div class="sidebar-box">
    <a href="https://www.patreon.com/c/N1GHTW1RE/posts" target="_blank">
        <img src="/assets/images/sidebar_right/patreon_button.jpg" alt="N1ghtw1re Patreon" />
      </a>
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/You-Are-Visitor.png" alt="You are Visitor Number">
    <a href='https://www.free-website-hit-counter.com'><img src='https://www.free-website-hit-counter.com/zc.php?d=9&id=8326&s=1' border='2' alt='Free Website Hit Counter'></a><br /><small><a href='https://www.free-website-hit-counter.com' title="Free Website Hit Counter">Free website hit counter</a></small>
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/construction_thumb.gif" alt="Under Construction">
    <img src="/assets/images/sidebar_right/hackerman_thumb.gif" alt="Hackerman">
    <img src="/assets/images/sidebar_right/construction_thumb.gif" alt="Under Construction">
</div>
<div class="sidebar-box">
    <a href="/pages/tarot.html">
        <img src="/assets/images/sidebar_right/tarot_thumb.jpg" alt="The Hacker's Tarot" />
      </a>
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/hacktheplanet_thumb.gif" alt="Hack the Planet GIF">
</div>
<div class="sidebar-box">
    <a href="/articles/04-2025/constitution.html">
        <img src="/assets/images/sidebar_right/US_thumb.gif" alt="Download the US constitution" />
      </a>
</div>
<div class="sidebar-box">
    <a href="/articles/04-2025/constitution.html">
        <img src="/assets/images/sidebar_right/ideaspace_thumb.jpg" alt="Into Ideaspace" />
      </a>
</div>
<div class="sidebar-box">
    <a href="/articles/04-2025/hackers_manifesto.html">
        <img src="/assets/images/sidebar_right/mainfest_thumb.gif" alt="The Hacker Manifesto" />
      </a>
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/nuke_ad.gif" alt="Robocop Nukee Ad">
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/algo_free.gif" alt="Algorithim Free Zone">
</div>