<!-- The content for the left sidebar goes here. Add as many sidebar-box as needed -->
<div class="sidebar-box">
    <img src="/assets/images/sidebar_left/last_updated_thumb.png" alt="Last Updated">
    <h4>April 10, 2025</h4>
    <p>Refresh the page to see any updates.</p>
    <img src="/assets/images/sidebar_left/bestviewed_thumb.png" alt="Best Viewed in">
</div>
<div class="sidebar-box">
    <iframe style="border: 0; width: 200px; height: 342px;" src="https://bandcamp.com/EmbeddedPlayer/album=3357869839/size=large/bgcol=333333/linkcol=2ebd35/tracklist=false/transparent=true/" seamless><a href="https://interlinkedai.bandcamp.com/album/microdose-reality">Microdose Reality by AnticPanic</a></iframe>
</div>
<div class="sidebar-box">
    <a href="/pages/news.html">
        <img src="/assets/images/sidebar_left/news_thumb.gif" alt="Link to News Articles" />
      </a>
</div>
<div class="sidebar-box">
    <a href="/pages/music.html">
        <img src="/assets/images/sidebar_left/music_thumb.jpg" alt="Link to Music Page" />
      </a>
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_left/nicola_thumb.gif" alt="Taste the Love: Nicola Ad">
</div>
<div class="sidebar-box">
    <a href="/pages/ezine.html">
        <img src="/assets/images/sidebar_left/ezine_thumb.gif" alt="Link to N1ghtw1re Ezine" />
      </a>
</div>
<div class="sidebar-box">
    <a href="https://interlinked-records.lovable.app/" target="_blank">
        <img src="/assets/images/sidebar_left/interlinked_thumb.gif" alt="Link to Interlinked Records" />
      </a>
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_left/mdk_thumb.gif" alt="Murder Death Kill">
</div>
