<!-- The content for the right sidebar goes here. Add as many sidebar-box as needed -->
<div class="sidebar-box">
    <a href="/assets/images/sidebar_right/tarot300.gif" target="_blank">
        <img src="/assets/images/sidebar_right/tarot300.gif" alt="Hackers Tarot" />
      </a>
</div>
<div class="sidebar-box">
    <a href="https://circuit-breach.neocities.org/" target="_blank">
        <img src="/assets/images/sidebar_right/circuit_breach_logo.jpeg" alt="Circuit Breach" />
      </a>
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/hacktheplanet_thumb.gif" alt="Hack the Planet GIF">
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/construction_thumb.gif" alt="Under Construction">
    <img src="/assets/images/sidebar_right/hackerman_thumb.gif" alt="Hackerman">
    <img src="/assets/images/sidebar_right/construction_thumb.gif" alt="Under Construction">
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/hacktheplanet_thumb.gif" alt="Hack the Planet GIF">
</div>
<div class="sidebar-box">
    <a href="/articles/04-2025/constitution.html">
        <img src="/assets/images/sidebar_right/US_thumb.gif" alt="Download the US constitution" />
      </a>
</div>
<div class="sidebar-box">
    <a href="/books/into_ideaspace/into_ideaspace.html">
        <img src="/assets/images/sidebar_right/ideaspace_thumb.jpg" alt="Into Ideaspace" />
      </a>
</div>
<div class="sidebar-box">
    <a href="/articles/04-2025/hackers_manifesto.html">
        <img src="/assets/images/sidebar_right/mainfest_thumb.gif" alt="The Hacker Manifesto" />
      </a>
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/nuke_ad.gif" alt="Robocop Nukee Ad">
</div>
<div class="sidebar-box">
    <img src="/assets/images/sidebar_right/algo_free.gif" alt="Algorithim Free Zone">
</div>